<!DOCTYPE html>
<html>
  <head>
   {{>headerlinks}}
  </head> 
  <body>
{{>navbar}}
 <section class="error404">
          <div class="error404-container container">
            

                
                    <img src="images/4042.png" alt="error" class="" />
                
                <h1>Welcome to My <span class="title">Weather app</span></h1>
                <h1 class="lasth1"style="color:rgb(48, 95, 248)">{{errormsg}}</h1>
                <a href="/" class="btn btn-primary">GO BACK</a>

              

          </div>

        </section>
{{>footer}}
            <script src="js/main.js"></script>

  </body>  
</html>