<!DOCTYPE html>
<html>
  <head>
  {{>headerlinks}}
      </head>
      <body>
     {{> navbar}}
        <section class="aboutme">
          <div class="aboutme-container container">
            <div class="aboutme-details">
              <div class="showcase-data">
                <p>Welcome to My weather app</p>
                <h1>I Am A <span class="title">Mern Stack Developer</span></h1>
                <a href="/about-me" class="btn btn-primary">About Me</a>
              </div>
            </div>
            <div class="aboutme-figure">
              <figure>
                <img src="images/about3.png" alt="rahul-gaur" class="me" />
              </figure>

            </div>
          </div>

        </section>
        {{>footer}}
            <script src="js/main.js"></script>
      </body>
</html>