<!DOCTYPE html>
<html>
<head>
{{>headerlinks}}
</head>
<body>
{{>navbar}}
<div class="about-me-container container">
    <img src="/images/coming.jpg">
    <h1 style=color:dodgerblue;font-weight:800;word-spacing:10px;>{{coming}}</h1>

</div>
{{>footer}}
            <script src="js/main.js"></script>

</body>

</html>