<nav class="navbar ">
  <div class="navbar-container container ">
    {{!-- <input type="checkbox" id="drop" /> --}}
    <div class="hamburger-lines">
      <span class="line1 line"></span>
      <span class="line2 line"></span>
      <span class="line3 line"></span>
    </div>
    <h2 class="logo" onclick="window.location.href='/'">
      <i
        class="fa-solid fa-snowflake fa-spin"
        style="color: #5dd0ea"
      ></i>&nbsp;Weather app&nbsp;<i
        class="fa-solid fa-snowflake fa-spin"
        style="color: #5dd0ea"
      ></i>
    </h2>

    <ul class="menu-items">
      <li><a href="/" class="">Home</a></li>
      <li><a href="/weather" class="">Weather</a></li>
      <li><a href="/about" class="">About</a></li>
    </ul>


       {{!-- <div class="drop-down-menu-items ">
      <li><a href="/" class="">Home</a></li>
      <li><a href="/weather" class="">Weather</a></li>
      <li><a href="/about" class="">About</a></li>
  </div> --}}
</nav>